<div class="container">
  <h1>Index</h1>
  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
  <div class="row">
  <% songs.forEach((song) => { %>
  <div class="col-sm-4">
    <div class="song_image">

    </div>
    <div><%= song.name %></div>
    <div>
      <%= song.description %>
    </div>
    <div><%= song.demo_source %></div>
    <div>£<%= song.price %></div>
    <form action="/charge" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
        data-amount=<%= song.price %>
        data-name=<%= song.name %>
        data-description=<%= song.description %>
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true">
      </script>
    </form>
  </div>



  <% }) %>
    </div>
</div>
